<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">


<servlet>
<servlet-name>Loginservlet</servlet-name>
<servlet-class>pkg.Loginservlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Loginservlet</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Signupservlet</servlet-name>
<servlet-class>pkg.Signupservlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Signupservlet</servlet-name>
<url-pattern>/signup</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Dashboard1</servlet-name>
<servlet-class>pkg.Dashboard1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Dashboard1</servlet-name>
<url-pattern>/dashboard</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Dashboard</servlet-name>
<servlet-class>pkg.Dashboard</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Dashboard</servlet-name>
<url-pattern>/dashboard0</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Dashboard2</servlet-name>
<servlet-class>pkg.Dashboard2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Dashboard2</servlet-name>
<url-pattern>/Mainboard</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Addservlet</servlet-name>
<servlet-class>pkg.Addservlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Addservlet</servlet-name>
<url-pattern>/Add</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Dataservlet</servlet-name>
<servlet-class>pkg.Dataservlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Dataservlet</servlet-name>
<url-pattern>/Data</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Dataservlet2</servlet-name>
<servlet-class>pkg.Dataservlet2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Dataservlet2</servlet-name>
<url-pattern>/Data2</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Bookticket</servlet-name>
<servlet-class>pkg.Bookticket</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Bookticket</servlet-name>
<url-pattern>/Bookticket</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Bookticket2</servlet-name>
<servlet-class>pkg.Bookticket2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Bookticket2</servlet-name>
<url-pattern>/Book</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Forgotpassword</servlet-name>
<servlet-class>pkg.Forgotpassword</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Forgotpassword</servlet-name>
<url-pattern>/Forgotpassword</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Forgotpassword2</servlet-name>
<servlet-class>pkg.Forgotpassword2</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Forgotpassword2</servlet-name>
<url-pattern>/Forgotpasswd</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Newpassword1</servlet-name>
<servlet-class>pkg.Newpassword1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Newpassword1</servlet-name>
<url-pattern>/Newpassword</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Blockuser</servlet-name>
<servlet-class>pkg.Blockuser</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Blockuser</servlet-name>
<url-pattern>/Block</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Record1</servlet-name>
<servlet-class>pkg.Record1</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Record1</servlet-name>
<url-pattern>/Record1</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Record</servlet-name>
<servlet-class>pkg.Record</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Record</servlet-name>
<url-pattern>/Record</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Swapservlet</servlet-name>
<servlet-class>pkg.Swapservlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Swapservlet</servlet-name>
<url-pattern>/Swap</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>TicketValidate</servlet-name>
<servlet-class>pkg.TicketValidate</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>TicketValidate</servlet-name>
<url-pattern>/TicketValidate</url-pattern>
</servlet-mapping>

</web-app>